/*GENERALIDADES*/
img{
  width: 100%;
}
.mt-5{
  margin-top: 5%;
}
.mt-10{
  margin-top: 10%;
}
.mb-5{
  margin-bottom: 5%;
}
.mb-10{
  margin-bottom: 10%;
}
.pt-5{
  padding-top: 5%
}
.pb-5{
  padding-bottom: 5%;
}
/*NAV*/
/*SECCION*/
/*BOTON BUSCADOR*/
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.input-group{
  padding: 12%;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
/*OPENING TIME*/
.icon-clock{
  font-size:500%;
}
/*MENU*/
.navbar{
  background-color:#c1b3b3 ;
  margin: 0!important;
}
/*SECCION PRINCIPAL*/
#imgprincipal{
  background-color: #cf6c8b;
  height: 500px;
}
/*CARROUSEL*/
.borderseason{
  border: 2px solid white;
  padding: 2%;
  display: inline;
}
/*SECCION 2 IMAGENES=ACCESORIOS Y NUEVOS LANZAMIENTOS*/
.imgnew{
  height: 300px;
}
/*CLIENTES*/
#imgclientes{
  background-image: url("../images/client-bg.jpg");
  height: 250px;
  background-color: #5c7cb6;
}
.paddingclientes{
  padding: 5% 1%;
}
/*BACK TO TOP*/
