/*GENERALIDADES*/
img{
  width: 100%;
}
.mt-5{
  margin-top: 5%;
}
.mt-10{
  margin-top: 10%;
}
.mb-5{
  margin-bottom: 5%;
}
.pt-5{
  padding-top: 5%
}
.pt-5{
  padding-bottom: 5%;
}
/*NAV*/
/*SECCION*/
/*BOTON BUSCADOR*/
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.input-group{
  padding: 12%;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
/*OPENING TIME*/
span{
  font-size:
}
/*SECCION PRINCIPAL*/
#imgprincipal{
  background-color: #cf6c8b;
  height: 500px;
}
/*CARROUSEL*/
/*CLIENTES*/
#imgclientes{
  background-image: url("../images/client-bg.jpg");
  height: 200px;
  background-color: #5c7cb6;
}
